.advantages {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 35px;
    background-image: url(../img/corner-darkgrey.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }
}

.slider input[type="radio"] {
  display: none;
}

.slider .slider__item {
  display: none;
}

#advantages-input-1:checked ~ .advantages__items .advantages__item--fast,
#advantages-input-2:checked ~ .advantages__items .advantages__item--cool,
#advantages-input-3:checked ~ .advantages__items .advantages__item--expensive {
  display: block;
}

.slider__toggles {
  display: flex;
  justify-content: space-between;
  font-size: 0;
  width: 25%;
  margin: 0 auto;
}

.slider__toggle {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: transparent;
  border: 2px solid #ffffff;
  transform: rotate(45deg);
}

#advantages-input-1:checked ~ .advantages__toggles label[for="advantages-input-1"],
#advantages-input-2:checked ~ .advantages__toggles label[for="advantages-input-2"],
#advantages-input-3:checked ~ .advantages__toggles label[for="advantages-input-3"], {
  background-color: #ffffff;
}

.advantages__wrapper {
  @include container-fluid;
  position: relative;
}

.advantages__items {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  padding: 0 44px;
  padding-top: 125px;
  margin-bottom: 23px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 95px;
    transform: translateX(-50%);
  }

  &--fast::before {
    height: 94px;
    background-image: url("../img/advantage-1-illustration.svg");
  }

  &--cool::before {
    height: 88px;
    background-image: url("../img/advantage-2-illustration.svg");
  }

  &--expensive::before {
    height: 91px;
    background-image: url("../img/advantage-3-illustration.svg");
  }
}

.advantages__item-title {
  margin: 0;
  font-size: 30px;
  line-height: 43px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__item p {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

@media ($tablet-widths) {
  .advantages__wrapper {
    padding-top: 42px;
  }

  .advantages__items {
    flex-direction: column;
  }

  .advantages__item {
    margin: 0 30px;
    margin-bottom: 27px;
    padding: 0;
    padding-bottom: 39px;
    padding-left: 128px;
    border-bottom: 1px solid #4a4a4a;

    &:last-child {
      border-bottom: none;
    }

    &::before {
      left: 0;
      top: 13px;
      transform: translateX(0);
    }
  }

  .advantages__item-title {
    margin: 0;
    margin-bottom: 13px;
    text-align: left;
  }

  .advantages__item p {
    text-align: left;
  }

  .advantages__toggles {
    display: none;
  }

  .advantages__item:nth-child(n+2) {
    display: block;
  }

  .advantages__item:last-child {
    margin-bottom: 0;
  }
}

@media ($desktop-widths) {
  .advantages::after {
    height: 66px;
  }

  .advantages__wrapper {
    min-height: 275px;
    padding-top: 75px;
    padding-bottom: 43px;
  }

  .advantages__items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 275px;
    padding-bottom: 0;
  }

  .advantages__item {
    width: 240px;
    margin: 0;
    padding: 0 40px;
    padding-top: 115px;
    border-bottom: none;
    border-right: 1px solid #4a4a4a;

    &::before {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &:last-child {
      border-right: none;
    }
  }

  .advantages__item-title,
  .advantages__item p {
    text-align: center;
  }

  .advantages__item-title {
    margin-bottom: 17px;
  }
}
