.page-header {
  &__logo {
    height: 85px;
    text-align: center;

    img {
      width: 230px;
      height: 85px;
    }
  }
}

@media ($tablet-widths) {
  .page-header {
    display: flex;
    flex-direction: column-reverse;
    min-height: 400px + 70px;

    background-color: #000000;

    &__logo {
      width: 100%;
      height: 400px;

      background: #000000 url("../img/bg-header.jpg") no-repeat center -9px;
    }
  }
}

@media ($desktop-widths) {
  .page-header {
    min-height: 650px + 70px;

    &__logo {
      height: 650px;

      background-position: center 0;
      background-size: cover;
    }
  }
}
