.page-header {
  &__logo {
    height: 85px;
    text-align: center;

    img {
      width: 230px;
      height: 85px;
    }
  }
}

@media ($tablet-widths) {
  .page-header {
    display: flex;
    flex-direction: column;
    background-color: #000000;

    &__logo {
      order: 2;
      width: 100%;
      height: 400px;

      position: relative;

      background: #000000 url("../img/bg-header.jpg") no-repeat center -9px;

      img {
        position: absolute;
        bottom: 257px;
        left: 50%;
        width: 370px;
        height: auto;
        transform: translateX(-50%);
      }
    }
  }
}

@media ($desktop-widths) {
  .page-header {
    &__logo {
      height: 650px;

      background-position: center 0;
      background-size: cover;
    }
  }
}
