.page-header {
  flex-direction: column;
  min-height: 135px;
  &__logo {
    min-height: 85px;
  }
}

@media ($tablet-widths) {
  .page-header {
    display: flex;
    flex-direction: column-reverse;
    min-height: 400px + 70px;

    &__logo {
      height: 400px;
    }
  }
}

@media ($desktop-widths) {
  .page-header {
    min-height: 650px + 70px;
    &__logo {
      height: 650px;
    }
  }
}
